.search__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.25rem 0 1.25rem 0;
}

.search__header {
  width: 5rem;
}

.search__results {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.0625rem solid #dfe1e5;
  border-radius: 1.5rem;
  margin-left: 1.5625rem;
}

.search {
  display: flex;
  align-items: center;
  border: 0.0625rem solid #dfe1e5;
  border-radius: 1.5rem;
  margin-left: 1.25rem;
  padding: 0.3125rem 0.625rem;
  width: 50%;
}

.search input,
.search__results input {
  border: none;
  outline-width: 0;
}
/* buttons */
.close__button {
  border: none;
  outline-width: 0;
  background-color: transparent;
}

.search__button {
  padding: 0.625rem 1.25rem;
  margin-top: 1.25rem;
  outline: none;
  border: none;
  border-radius: 0.125rem;
  font-size: 1rem;
}
/* icons */
.search__icon {
  width: 1.25rem;
  padding: 0.375rem;
}

.close__icon {
  width: 0.75rem;
  margin-right: 0.5rem;
}
